/******************************  css reset  *************************************/
body, ol, ul {
	line-height: 1;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
ol, ul {
	list-style: none;
}
a:focus {
	outline: 0 none;
}
/******************************  end css reset  **********************************/


html, body {
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

html, body {
  background-color: #fff !important;
}

.no-border {
	border:none !important;
}

.container {
	max-width:100%;
	padding:0;
}
.container.main {
	padding-top:860px;
}
.onMobile .container.main {
	padding-top:0;
}
.onMobile .hero {
	position: relative;
}
#controls {
	position: fixed;
	background-color:#000;
	padding:15px;
	width: 45px;
	height: 150px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	display: inline-block;
	z-index: 100;
	text-align: center;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
#controls a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	width: 45px;
}
#controls .arrows {
	height: 45px;
	background-image:url("../images/arrows.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
#controls .arrows:hover {
	background-position: 0 -45px;
}
#controls .nxt {
	background-position: -45px 0;	
}
#controls .nxt:hover {
	background-position: -45px -45px;	
}
#controls .txt {
	line-height: 22px;
	margin:19px 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
#sideMenu {
	position: fixed;
	color:#fff;
	width: 275px;
	height: 600px;
	top: 62px;
	right: -275px;
	overflow: hidden;
	display: inline-block;
	z-index: 200;
	background-color: #000;
}
#sideMenu ul {
	background-color:#2a2a2a;
}
#sideMenu ul li {
	border-bottom:1px solid #000;
	overflow: hidden;
}
#sideMenu ul li a {
	padding:15px 15px 15px 11px;
	display:table-row;
	vertical-align: middle;
	float: left;
	width: 100%;
	line-height: 26px;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
}
#sideMenu ul li a.btt {
	color:rgba(255,255,255,0.7);
	width: auto;
}
#sideMenu ul li a.btt em {
	font-style: normal;
	display:inline-block;
	padding-right:22px;
	line-height: 26px;
	height: 26px;
	background-image:url("../images/caret.png");
	background-repeat: no-repeat;
	background-position: top right;
}
#sideMenu ul li a.btt:hover {
	background-color:transparent;
	color: #fff;
}
#sideMenu ul li a.btt:hover em {
	background-image:url("../images/caret-hover.png");
}
#sideMenu ul li a > span {
	display:table-cell;
	vertical-align: middle;
}
#sideMenu ul li a > span:first-child {
	font-size: 24px;
	font-weight: bold;
	padding-right:13px;
}
#sideMenu ul li a > span:last-child {
	line-height: 1.25em;
}
#sideMenu ul li.hilited a,
#sideMenu ul li a:hover,
#sideMenu ul li a:focus {
	background-color:#f5f5f5;
	color:#000;
}
#sideMenu.height-xxs ul li a {
	padding: 5px 15px 5px 11px;
	font-size: 11px;
	line-height: 16px;
}
#sideMenu.height-xxs ul li a > span:first-child {
	font-size: 15px;
}
#sideMenu.height-xs ul li a {
	padding: 5px 15px 6px 11px;
	font-size: 12px;
	line-height: 17px;
}
#sideMenu.height-xs ul li a > span:first-child {
	font-size: 16px;
}
#sideMenu.height-sm ul li a {
	padding: 8px 15px 8px 11px;
	font-size: 13px;
	line-height: 21px;
}
#sideMenu.height-sm ul li a > span:first-child {
	font-size: 19px;
}
#sideMenu.height-md ul li a {
	padding:10px 15px 10px 11px;
}


.closeX {
	display: inline-block;
	overflow: hidden;
	width: 13px;
	height: 13px;
	position: absolute;
	top:20px;
	right:15px;
	z-index: 201;
	background-image:url("../images/x.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.closeX:hover {
	background-position: 0 -13px;
}


#accMark {
	top: 269px;
	left: 0;
	position: absolute;
	display: inline-block;
	display: none;
	overflow: hidden;
	z-index: 1;
	width: 532px;
	height: 536px;
}
.hero {
	background-color:#fff;
	color:#000;
	height:798px;
	padding-top:0px;
	display: inline-block;
	overflow: visible;
	width: 100%;
	/*float: left;*/
	position: fixed;
	top: 0;
	margin-top: 62px;
	left: 0;
}
.hero video {
	top: 0px;
	left: 0;
	position: absolute;
	z-index: 0;
	width: auto;
	height: 100%;
}
.hero > div {
	position: relative;
	margin:0 auto;
	padding:10% 0 72px 0;
	width: 70%;
	color:#fff;
	text-align: center;
	line-height: 1.1em;
	overflow: hidden;
	z-index: 0;
}
.hero > div h1 {
	font-size: 54px;
	margin: 10px 0;
}
.hero > div h3 {
	font-size: 19px;
	text-transform: uppercase;
	margin: 0;
}
.hero > div p {
	line-height: 1.4em;
	width: 55%;
	margin: 0 auto;
}
.hero > div p strong {
	white-space: nowrap;
}
.hero > div .playVid {
	display: inline-block;
	overflow: hidden;
	width: 57px;
	height: 57px;
	/*margin-top: 15px;*/
	background-image:url("../images/play-lg.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	bottom: 0;
	left: 50%;
	margin-left: -28.5px;
	position: absolute;
}
.hero .CTA {
	bottom: 58px;
	left: 50%;
	margin-left: -120px;
	width:240px;
	height:63px;
	line-height:63px;
	position: absolute;
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
	font-size: 25px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.hero .CTA > span {
	padding:0 20px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.whiteAngle {
	width:100%;
	height:800px;
	position:absolute;
	background-color: #fff;
	top:650px;
	right: 0px;
	z-index: 0;
	display: inline-block;
	overflow: hidden;
	transform:skew(0deg,-22deg);
	-ms-transform:skew(0deg,-22deg);
	-webkit-transform:skew(0deg,-22deg);
}
.bgImages {
	width:100%;
	height:1200px;
	position:absolute;
	top:650px;
	left: 0px;
	z-index: 0;
	display: inline-block;
	overflow: hidden;
	transform:skew(0deg,22deg);
	-ms-transform:skew(0deg,22deg);
	-webkit-transform:skew(0deg,22deg);
	-webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, .75);
}
.whiteAngle.fixed {
	position:fixed;
	top:38px;
	right: 0px;
}
.bgImages.fixed {
	position:fixed;
	top:-210px;
	right: 0px;
}
.bgImages .bgImg {
	position:absolute;
	top:-324px;
	left: 0px;
	transform:skew(0deg,-22deg);
	-ms-transform:skew(0deg,-22deg);
	-webkit-transform:skew(0deg,-22deg);
}
.bgImages .bgImg img {
	transition: all 0.5s ease-in-out 0s;
	margin:0 0 0 0;
}
.bgImages .bgImg img.activate {
    /*
    transform: scale(1.05);
	margin:50px 0 0 -50px;
	*/
}

.insight {
	width:100%;
	position:relative;
	display: inline-block;
	float: left;
	padding-bottom:75px;
	min-height:1000px;
	overflow:visible;
	position: relative;
	/*
	background-size:100% !important;
	background-repeat:no-repeat !important;
	background-position: 0 0 !important;
	background-attachment: scroll;
	*/
}
.insight .bgImg {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left: 0px;
	z-index: 0;
	display: inline-block;
	overflow: hidden;	
	transform:skew(0deg,22deg);
	-ms-transform:skew(0deg,22deg);
	-webkit-transform:skew(0deg,22deg);
}
.insight.current .bgImg {
	position:fixed;
}
.insight .bgImg img {
	/*width:100%;
	height:100%;*/
	position: fixed;
  	top: -323px;
	transform:skew(0deg,-22deg);
	-ms-transform:skew(0deg,-22deg);
	-webkit-transform:skew(0deg,-22deg);
}
.insight .insightTitle {
	position:absolute;
	text-align: left;
	top:65px;
	left:16%;
	width:28%;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	overflow: hidden;
	z-index: 1000;
	/*background: rgba(255, 255, 255, 0.25);*/
}
.insight.current .insightTitle {
	position:fixed !important;
	top: 70px;
}
.insight .insightTitle h3,
.insight .insightTitle h6,
.insight .insightTitle .social {
	margin:0;
	display: inline-block;
	float: left;
	width: 100%;
}
.insight .insightTitle h3 {
	font-size: 48px;
	line-height: 56px;
}
.insight .insightTitle h6 {
	font-size: 14px;
	line-height: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
}
.insight .insightTitle .social {
	margin-top: 10px;
	width: 115px;
}

.insight .marker {
	position:absolute;
	text-align: center;
	top:32px;
	left:0px;
	width:150px;
	height:141px;
	line-height:141px;
	background-color:#000;
	color:white;
	font-size:13px;
	font-weight:bold;
	overflow:hidden;
	transform:skew(0deg,-22deg);
	-ms-transform:skew(0deg,-22deg);
	-webkit-transform:skew(0deg,-22deg);
}
.insight .content {
	position:relative;
	margin:0 auto;
	margin-top:70px;
	max-width:1000px;
	width:75%;
	overflow:visible;
	color:#000;
	/*background-color:#fff;*/
}
.insight .content .left-col {
	color:#fff;
	margin-left: 15px;
	position: absolute;
	top: 65px;
	z-index: 1;
	display: none;
}
.insight .content .right-col {
	background-color:#fff;
	padding: 0;
}
.insight .content .right-col > div {
	padding:25px 20px 20px 20px;
	margin:0 0 0 0;
	border-bottom: 1px solid #e2e2e2;
	overflow: hidden;
}
.insight .content .right-col > div .tr {
	display:table-row;
	vertical-align: middle;
	float: left;
	width: 100%;
	margin-bottom: 35px;
}
.insight .content .right-col > div .tr.last {
	margin-bottom: 0px;
}
.insight .content .right-col > div .tr > span {
	display:table-cell;
	vertical-align: middle;
}
.insight .content .right-col > div .tr > span.num {
	overflow: hidden;
	width: 46px;
	height:46px;
	line-height: 46px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	float:left;
	-webkit-border-radius: 23px;
	border-radius: 23px;
}
.insight .content .right-col > div .tr > span.txt {
	overflow: hidden;
	line-height: 20px;
	padding-left: 15px;
	padding-top: 7px;
}
.insight .content .right-col > div .tr > span.txt strong {
	display: inline-block;
	width: 100%;
	float: left;
	line-height: 24px;
	font-size: 24px;
	font-weight: normal;
}
.insight .content .right-col > div > span {
	display: inline-block;
	width: 100%;
	float: left;
}
.insight .content .right-col > div.heading {
	padding:10px 20px 30px 20px;
	border-bottom: none;
	overflow: hidden;
	color: #fff;
}
.insight .content .right-col > div .heading {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.insight .content .right-col > div .fpo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}
.insight .content .right-col > div .quote {
	font-style: italic;
	font-size: 24px;
	line-height:29px;
}
.insight .content .right-col > div.heading .heading {
	color:#fff !important;
	margin-bottom: 50px !important;
}
.insight.current  {
	background-attachment:fixed;
	background-size:100% !important;
	background-repeat:no-repeat !important;
	background-position: 0 0 !important;
}
.insight.current .marker {
	position:fixed !important;
	top:32px;
}
.insight.current .content .left-col {
	position:fixed !important;
	top: 65px;
}
.insight .marker > div {
	text-transform: uppercase;
	padding:0;
	transform:skew(0deg,22deg);
	-ms-transform:skew(0deg,22deg);
	-webkit-transform:skew(0deg,22deg);
}
.insight .marker > div > span {
	display: block;
	font-size: 85px;
	font-weight: bold;
	width: 100%;
}
.insight[data-insight="1"] .marker,
.insight[data-insight="1"] .content .right-col > div.heading,
.insight[data-insight="1"] .content .right-col > div .tr > span.num {background-color:#aa1133;}
.insight[data-insight="2"] .marker,
.insight[data-insight="2"] .content .right-col > div.heading,
.insight[data-insight="2"] .content .right-col > div .tr > span.num {background-color:#ff0000;}
.insight[data-insight="3"] .marker,
.insight[data-insight="3"] .content .right-col > div.heading,
.insight[data-insight="3"] .content .right-col > div .tr > span.num {background-color:#dd4411;}
.insight[data-insight="4"] .marker,
.insight[data-insight="4"] .content .right-col > div.heading,
.insight[data-insight="4"] .content .right-col > div .tr > span.num {background-color:#ff9900;}
.insight[data-insight="5"] .marker,
.insight[data-insight="5"] .content .right-col > div.heading,
.insight[data-insight="5"] .content .right-col > div .tr > span.num {background-color:#bbbb00;}
.insight[data-insight="6"] .marker,
.insight[data-insight="6"] .content .right-col > div.heading,
.insight[data-insight="6"] .content .right-col > div .tr > span.num {background-color:#00aa99;}
.insight[data-insight="7"] .marker,
.insight[data-insight="7"] .content .right-col > div.heading,
.insight[data-insight="7"] .content .right-col > div .tr > span.num {background-color:#00bbee;}
.insight[data-insight="8"] .marker,
.insight[data-insight="8"] .content .right-col > div.heading,
.insight[data-insight="8"] .content .right-col > div .tr > span.num {background-color:#3399cc;}
.insight[data-insight="9"] .marker,
.insight[data-insight="9"] .content .right-col > div.heading,
.insight[data-insight="9"] .content .right-col > div .tr > span.num {background-color:#ff3366;}
.insight[data-insight="10"] .marker,
.insight[data-insight="10"] .content .right-col > div.heading,
.insight[data-insight="10"] .content .right-col > div .tr > span.num {background-color:#551155;}

.insight[data-insight="1"] .content .right-col > div .heading {color:#aa1133;}
.insight[data-insight="2"] .content .right-col > div .heading {color:#ff0000;}
.insight[data-insight="3"] .content .right-col > div .heading {color:#dd4411;}
.insight[data-insight="4"] .content .right-col > div .heading {color:#ff9900;}
.insight[data-insight="5"] .content .right-col > div .heading {color:#bbbb00;}
.insight[data-insight="6"] .content .right-col > div .heading {color:#00aa99;}
.insight[data-insight="7"] .content .right-col > div .heading {color:#00bbee;}
.insight[data-insight="8"] .content .right-col > div .heading {color:#3399cc;}
.insight[data-insight="9"] .content .right-col > div .heading {color:#ff3366;}
.insight[data-insight="10"] .content .right-col > div .heading {color:#551155;}

#footer {
	background-color: #000000;
    color: #FFFFFF;
    padding: 15px;
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    /*
	transform:skew(0deg,22deg);
	-ms-transform:skew(0deg,22deg);
	-webkit-transform:skew(0deg,22deg);
	height:800px;
	*/
}


/******************************  navbar overrides  **********************************/
.navbar {
	background: #000;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .75);
}
.navbar > .container .navbar-brand {
	height:36px;
	width:128px;
	display: inline-block;
	overflow: hidden;
	padding:11px 0 15px 20px;
	margin:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.navbar > .container .navbar-brand img {
	height:36px;
	width:128px;
	display: inline-block;
	float: left;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.navbar-default{
	background: transparent;
	border: none;
	margin:0;
}
.navbar-default > .container{
	background: #000;
}
.navbar-default .navbar-nav > li > a {
  	padding: 20px;
  	line-height: 22px;
  	color: #fff;
  	text-transform:uppercase;
  	font-size:13px;
  	/*font-weight: bold;*/
  	overflow: hidden;
}
/*
.navbar-default .navbar-nav > li > a:focus {
  	background: #363636;
  	color: #fff;
}
*/
.navbar-default .navbar-nav > li > a:hover {
  	color: #fff;
  	/*background-color: #363636;*/
}
.navbar-default .navbar-nav > li > a > .icn {
  	display: inline-block;
  	width: 20px;
  	height: 22px;
  	line-height: 22px;
  	float: left;
  	margin-right: 10px;
  	background-image:url("../images/icons.png");
	background-repeat: no-repeat;
}
.navbar-nav .share .icn {
  	background-position: 0 0;
}
.navbar-nav .download .icn {
  	background-position: 0 -22px;
}
.navbar-nav .contact .icn {
  	background-position: 0 -44px;
}
.navbar-nav {
  	overflow: visible;
}
.navbar-nav > li {
  	position: relative;
  	min-width:138px;
  	overflow: visible;
  	border-left:1px solid #363636;
  	float: right;
  	background: #000;
	-webkit-transition: background-color 300ms ease 0s;
	-moz-transition: background-color 300ms ease 0s;
	-o-transition: background-color 300ms ease 0s;
	-ms-transition: background-color 300ms ease 0s;
	transition: background-color 300ms ease 0s;
}
.navbar-nav > li .social {
  	display: none;
	overflow: hidden;
  	background: transparent;
  	padding: 18px 11px;
	width: 100%;
	line-height: 26px;
	position: absolute;
  	cursor: pointer;
  	color:#fff;
	top:0;
	right:0;
	z-index: 201;
	text-align: right;
}
.navbar-nav > li:hover {
  	background: #363636;
}
.navbar-nav > li.share:hover > a {
  	visibility: hidden;
}
.navbar-nav > li:hover .social {
  	display: inline-block;
}
.social > a {
  	display: inline-block;
  	float: right;
  	margin-right: 5px;
  	margin-bottom: 1px;
	overflow: hidden;
	width: 25px;
	height: 25px;
  	background-image:url("../images/icons-social.png");
	background-repeat: no-repeat;
}
.social .linkedin {
  	background-position: 0 0;
}
.social .twitter {
  	background-position: -30px 0;
}
.social .facebook {
  	background-position: -60px 0;
}
 .social .google {
  	background-position: -90px 0;
  	margin-right: 0 !important;
}
/******************************  end navbar overrides  **********************************/
/******************************  Sharepoint overrides  **********************************/

.banner {
	display:none;
}
.page {
	display:inline-block;
	width:85%;
	max-width:1280px;
	overflow: visible;
	height:3000px;

}
.page .main-contents {
	display:inline-block;
	margin:0;
	background:#fff;
	/*float: left;*/
}
.page .main-contents .acn {
	margin: 0 !important;
	width: 100% !important;
}
.opentemplate-content {
	padding:0;
}
#skiptargetholder {
	margin:0;
}
.stay-connected-master {
	display:none;
}

/******************************  end Sharepoint overrides  ******************************/
/*********************************  Limelight overlay  **********************************/
#ll-overlay {
	position: fixed;
	z-index: 2000;
	display: none;
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%; 
	-khtml-opacity: 0;
	-moz-opacity: 0;
	background: rgba(0, 0, 0, 0.9);
	filter: alpha(opacity=0);
	opacity: 1;
}

#ll-overlay .inner {
	height: 505px;
	margin: 0 auto;
	position: relative;
	width: 768px;
	left: 0px;
	top: 0px;
}

#ll-overlay .closeVid {
	background: #fff;
	color:#000;
	text-align: center;
	text-decoration: none;
	line-height: 23px;
	font-weight: bold;
	display: block;
	height: 23px;
	position: absolute;
	right: 0;
	top: 30px;
	width: 23px;
	-webkit-border-radius: 23px;
	border-radius: 23px;
}

#ll-overlay #ll-player {
	background: #a0a0a0;
	height: 400px;
	position: absolute;
	top: 65px;
	width: 768px;
	left: 0px !important;
}
/*********************************  end Limelight overlay  *******************************/
/*********************************  responsive  ******************************************/

/* phones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}
 
/* phones (landscape) */
@media only screen
and (min-width : 321px) {

}
 
/* phones (portrait) */
@media only screen
and (max-width : 320px) {
  
}
 
/* ipad (portrait and landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}
 
/* ipad (landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}
 
/* ipad (portrait) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}
 
/* medium screens */
@media only screen
and (min-width : 1224px) {

}
 
/* larger screens */
@media only screen and (min-width : 1824px) {

}
 
/* iphone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

/* iphone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){

}

/* less than ipad */
@media 
only screen and (max-width : 767px) {
	.hero {
		height:970px;
	}
	.hero video {
		height:500px;
	}
	.hero > div {
		margin:118px auto 0 auto;
		padding:195px 0 0 0;
		width: 88%;
		z-index: 5;
	}
	.hero > div .playVid {
		top: 0;
		bottom: auto;
		width: 95px;
		height: 95px;
		margin-left: -47.5px;
	}
	.hero > div h3 {
		font-size: 22px;
	}
	.hero > div h1 {
		font-size: 52px;
		margin: 20px 0 15px 0;
		width: 90%;
	}
	.hero > div p {
		font-size: 24px;
		line-height: 1.25em;
		width: 97%;
	}
	.hero > div p strong {
		white-space: normal;
	}
	#accMarkMob {
		top: 300px;
		left: 0;
		position: absolute;
		display: inline-block;
		overflow: hidden;
		z-index: 1;
		width: 640px;
		height: 650px;
		pointer-events:none;
	}

	.insight {
		border-top: 2px solid #dbdbdb;
		padding: 0 0 0 0;
		overflow: visible;
	}
	.insight .insightTitle {
		color: #000000;
		font-size: 20px;
		font-weight: bold;
		left: auto;
		overflow: visible;
		position: relative;
		text-align: left;
		top: auto;
		width: 100%;
		z-index: auto;
		display: inline-block;
		padding: 50px 25px;
	}
	.insight .insightTitle h3 {
		font-size: 42px;
		line-height: 48px;
		max-width: 83%;
	}
	.insight .insightTitle h6 {
		font-size: 20px;
	}
	.insight[data-insight="1"] .insightTitle h6 {color:#aa1133;}
	.insight[data-insight="2"] .insightTitle h6 {color:#ff0000;}
	.insight[data-insight="3"] .insightTitle h6 {color:#dd4411;}
	.insight[data-insight="4"] .insightTitle h6 {color:#ff9900;}
	.insight[data-insight="5"] .insightTitle h6 {color:#bbbb00;}
	.insight[data-insight="6"] .insightTitle h6 {color:#00aa99;}
	.insight[data-insight="7"] .insightTitle h6 {color:#00bbee;}
	.insight[data-insight="8"] .insightTitle h6 {color:#3399cc;}
	.insight[data-insight="9"] .insightTitle h6 {color:#ff3366;}
	.insight[data-insight="10"] .insightTitle h6 {color:#551155;}

	.insight .content {
		position:relative;
		margin:0;
		width:100%;
		max-width:100%;
		overflow:visible;
	}

	.insight .content > .row {
		margin: 0;
	}
	.insight .content .right-col > div {
		padding:25px;
		font-size: 22px;
		line-height: 26px;
	}
	.insight .content .right-col > div.social {
		padding: 5px 9px 8px 25px;
		text-align: right;
	}
	.insight .content .right-col > div.heading {
		padding: 30px 50px 25px 25px;
		margin: 0 25px;
	}
	.insight .content .right-col > div.heading .heading {
		font-size: 22px;
		margin-bottom: 40px !important;
	}
	.insight .content .right-col > div .quote {
		font-size: 32px;
		line-height:38px;
	}
	.insight .content .right-col > div .tr > span.txt {
		line-height: 26px;
		padding-top: 5px;
	}
	.insight .content .right-col > div .tr > span.txt strong {
		line-height: 36px;
		font-size: 32px;
		margin-bottom: 7px;
	}
}
/*********************************  end responsive  **************************************/