html, body {
  margin: 0;
  font-family: sans-serif;
}

html, body {
  background-color: #fff !important;
}



.container {
	max-width:100%;
	padding:0;
}
.container.main {
	padding-top:62px;
}
.insight {
	width:100%;
	min-height:1500px;
	background-size:100% auto;
	background-repeat:no-repeat;
}
#insight-1 {
	background-image:url("../images/bg-sidewalk.png");
}
#insight-2 {
	background-image:url("../images/bg-hero-mountain.jpg");
}
#insight-3 {
	background-image:url("../images/bg-skydivers.jpg");
}
#insight-4 {
	background-image:url("../images/bg-hero-man.png");
}
#insight-5 {
	background-image:url("../images/bg-sidewalk.png");
}
#insight-6 {
	background-image:url("../images/bg-hero-mountain.jpg");
}
#insight-7 {
	background-image:url("../images/bg-skydivers.jpg");
}
#insight-8 {
	background-image:url("../images/bg-hero-man.png");
}
#insight-9 {
	background-image:url("../images/bg-sidewalk.png");
}
#insight-10 {
	background-image:url("../images/bg-hero-mountain.jpg");
}
.insight .marker {
	margin-top:50px;
	width:150px;
	height:140px;
	background-color:#0096d6;
	color:white;
	font-weight:bold;
	overflow:hidden;
	transform:skew(0deg,-22deg);
	-ms-transform:skew(0deg,-22deg); /* IE 9 */
	-webkit-transform:skew(0deg,-22deg); /* Safari and Chrome */
}
.insight .marker > div {
	padding:50px 12px 0 12px;
	transform:skew(0deg,22deg);
	-ms-transform:skew(0deg,22deg); /* IE 9 */
	-webkit-transform:skew(0deg,22deg); /* Safari and Chrome */
}
#insight-1 .marker {
	background-color:#aa1133;
}
#insight-2 .marker {
	background-color:#0096d6;
}

/*aa1133*/


/******************************  navbar overrides  **********************************/
.navbar {
	background: #000;
}
.navbar > .container .navbar-brand {
	height:28px;
	width:100px;
	display: inline-block;
	overflow: hidden;
	padding:14px 0 20px 22px;
	margin:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.navbar > .container .navbar-brand img {
	height:28px;
	width:100px;
	display: inline-block;
	float: left;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.navbar-default{
	background: transparent;
	border: none;
	margin:0;
}
.navbar-default > .container{
	background: #000;
}
.navbar-default .navbar-nav > li > a {
  	padding: 20px;
  	line-height: 22px;
  	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  	background: #363636;
  	color: #fff;
}
.navbar-nav > li {
  	border-left:1px solid #363636;
}
/******************************  end navbar overrides  ******************************/




/******************************  Sharepoint overrides  **********************************/

.banner {
	display:none;
}
.page {
	display:inline-block;
	width:85%;
	max-width:1280px;
	overflow: visible;
	height:3000px;

}
.page .main-contents {
	display:inline-block;
	margin:0;
	background:#fff;
	/*float: left;*/
}
.page .main-contents .acn {
	margin: 0 !important;
	width: 100% !important;
}
.opentemplate-content {
	padding:0;
}
#skiptargetholder {
	margin:0;
}
.stay-connected-master {
	display:none;
}

/******************************  end Sharepoint overrides  ******************************/
