html, body {
  margin: 0;
  font-family: sans-serif;
}

html, body {
  background-color: #fff !important;
}



.container {
	max-width:100%;
	padding:0;
}
.container.main {
	padding-top:62px;
}

/******************************  navbar overrides  **********************************/
.navbar {
	background: #000;
}
.navbar > .container .navbar-brand {
	height:28px;
	width:100px;
	display: inline-block;
	overflow: hidden;
	padding:14px 0 10px 22px;
	margin:0;
}
.navbar > .container .navbar-brand img {
	height:28px;
	width:100px;
	display: inline-block;
	float: left;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.navbar-default{
	background: transparent;
	border: none;
	margin:0;
}
.navbar-default > .container{
	background: #000;
}
/******************************  end navbar overrides  ******************************/




/******************************  Sharepoint overrides  **********************************/

.banner {
	display:none;
}
.page {
	display:inline-block;
	width:85%;
	max-width:1280px;
	overflow: visible;
	height:3000px;

}
.page .main-contents {
	display:inline-block;
	margin:0;
	background:#fff;
	/*float: left;*/
}
.page .main-contents .acn {
	margin: 0 !important;
	width: 100% !important;
}
.opentemplate-content {
	padding:0;
}
#skiptargetholder {
	margin:0;
}
.stay-connected-master {
	display:none;
}

/******************************  end Sharepoint overrides  ******************************/
